<div class="panel panel-default">
    <div class="panel-heading">Travis Builds</div>

    <table class="table hideOverflow">
        <thead>
        <tr>
            <th>Branch</th>
            <th>When</th>
            <th>Duration (s)</th>
            <th>Status</th>
            <th>Quality (%)</th>
            <th>Coverage (%)</th>
        </tr>
        </thead>
        <tbody>
        {% for build in builds %}
            <tr {% if build.result != 0 %}class="bg-danger text-danger"{% endif %}>
                <td>{{ build.branch }}</td>
                <td>{{ build.finished_at|ago }}</td>
                <td>{{ build.duration|default('building') }}</td>
                <td>
                    {% if build.result == 0 %}
                        <span class="glyphicon glyphicon-ok"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove"></span>
                    {% endif %}
                </td>
                <td>{{ attribute(attribute(scrutinizer.applications, build.branch).index._embedded.project.metric_values, 'scrutinizer.quality')|number_format(3, '.', ',') * 10 }}</td>
                <td>{{ attribute(attribute(scrutinizer.applications, build.branch).index._embedded.project.metric_values, 'scrutinizer.test_coverage')|number_format(3, '.', ',') * 100 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
