<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock title %}</title>
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    <link rel="stylesheet" type="text/css" href="/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" type="text/css" href="/lineicons/style.css">
    <link rel="stylesheet" href="/octicons/octicons.css">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <script src="/js/chart-master/Chart.js"></script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('quickstart_app_homepage') }}">
                {% trans %}project.name{% endtrans %}
                <span class="small">{% trans %}project.title{% endtrans %}</span>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {{ knp_menu_render('main', {'template': 'QuickstartAppBundle:Default:knp_menu.html.twig'}) }}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'en'}) }}">en</a></li>
                {#<li><a href="{{ path(app.request.attributes.get('_route'), {'_locale': 'fr'}) }}">fr</a></li>#}
                <li><a href="{{ path('quickstart_app_changelog') }}">{{ version.current }} / {{ app.environment }}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    {% block breadcrumb %}{% endblock breadcrumb %}

    <div class="alert alert-info">
        Prototype Application, play gently.
        Feedback welcome <a href="https://github.com/DashboardHub/PipelineDashboard">Github</a> and/or
        <a href="https://gitter.im/DashboardHub/PipelineDashboard?utm_source=share-link&utm_medium=link&utm_campaign=share-link">
            <img src="https://badges.gitter.im/org.png" />
        </a>
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock body %}
</div>
<div class="jumbotron">
    <div class="container">
        <h1>Open Source DashboardHub!</h1>
        <p>Dashboard for Open Source projects - currently Github & TravisCI, more to follow...</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/DashboardHub/PipelineDashboard" role="button">Fork Me on Github</a></p>
        <p><a class="btn btn-primary btn-lg" href="https://twitter.com/dashboardhub" role="button">Follow on Twitter</a></p>
        <p><a class="btn btn-primary btn-lg" href="https://gitter.im/DashboardHub/PipelineDashboard?utm_source=share-link&utm_medium=link&utm_campaign=share-link" role="button">Gitter Chat</a></p>
    </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/js/jquery.scrollTo.min.js"></script>
<script src="/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/js/jquery.sparkline.js"></script>


<!--common script for all pages-->
<script src="/js/common-scripts.js"></script>

<script type="text/javascript" src="/js/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="/js/gritter-conf.js"></script>

<!--script for this page-->
<script src="/js/sparkline-chart.js"></script>
<script src="/js/zabuto_calendar.js"></script>

{% block javascripts %}{% endblock javascripts %}
</body>
</html>
