{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <div class="row ">
        <ol class="breadcrumb">
            <li>Dashboard</li>
            <li class="active">{{ reponame }}</li>
        </ol>
    </div>
{% endblock %}

{% block title %}{{ reponame }}{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-8">
            <h2>{{ reponame }}</h2>
        </div>

        <div class="col-md-4"></div>

    </div>

    <div class="row">
        <div class="col-md-4">
            {{ render(controller(
            'quickstart_app_github_controller:eventsAction', { 'reponame': reponame }
            )) }}
        </div>

        <div class="col-md-3">
            {{ render(controller(
            'quickstart_app_github_controller:pullrequestsAction', { 'reponame': reponame }
            )) }}
        </div>

        <div class="col-md-5">
            {{ render(controller(
            'quickstart_app_github_controller:issuesAction', { 'reponame': reponame }
            )) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            {{ render(controller(
            'quickstart_app_travis_controller:indexAction', { 'reponame': reponame }
            )) }}
        </div>

        <div class="col-md-6">
            {{ render(controller(
            'quickstart_app_travis_controller:durationGraphAction', { 'reponame': reponame }
            )) }}
        </div>
    </div>


{% endblock %}
