{% extends "::base.html.twig" %}

{% block breadcrumb %}
    <div class="row ">
        <ol class="breadcrumb">
            <li>Dashboard</li>
            <li class="active">{{ reponame }}</li>
        </ol>
    </div>
{% endblock %}

{% block title %}{{ reponame }}{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-8">
            <h2>{{ reponame }}</h2>
        </div>

        <div class="col-md-4"></div>

    </div>

    <div class="row">

        <div class="col-md-12">

            </div>

            <div class="col-md-3">
                {{ render(controller(
                    'quickstart_app_github_controller:indexAction', { 'reponame': reponame, 'owner': owner, 'name': name }
                )) }}
            </div>

            <div class="col-md-3">
                {{ render(controller(
                    'quickstart_app_travis_controller:indexAction', { 'reponame': reponame, 'owner': owner, 'name': name }
                )) }}
            </div>

            <div class="col-md-3">
                {% include 'QuickstartAppBundle:Dashboard:scrutinizer.html.twig' %}
            </div>

            <div class="col-md-3">
                {% include 'QuickstartAppBundle:Dashboard:deployment.html.twig' %}
            </div>


        </div>

    </div>


{% endblock %}
