{% extends 'base.html.twig' %}

{% block body %}
    <div id="homepage">
        <div class="row">
            <div class="col-md-6">
                <div class="jumbotron dashboardhub-image">
                    <div class="jumbotron">
                        <h1>FOCUS!</h1>
                        <h2>Your World in One Place</h2>

                        <p class="lead">
                            Your Pipeline in One Place. Github, TravisCI etc reporting back to your Dashboard Hub.
                        </p>

                        <p>
                            {% if app.user %}
                            <a class="btn btn-lg btn-success"
                               href="{{ path('dashboardhub_app_dashboard.list') }}" role="button">
                                <i class="fa fa-tachometer"></i>
                                Your Dashboards
                            </a>
                            {% else %}
                            <a class="btn btn-lg btn-success" href="/connect/github" role="button">
                                <i class="fa fa-github"></i>
                                Free Sign in with Github
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">Dashboard Features</div>

                    <ul class="list-group">
                        <li class="list-group-item">Github Integration</li>
                        <li class="list-group-item">Travis CI Integration</li>
                        <li class="list-group-item">Scrutinizer Integration</li>
                        <li class="list-group-item disabled">End-to-end metrics with ySlow Integration (coming soon)</li>
                        <li class="list-group-item disabled">Penetration Integration (coming soon)</li>
                        <li class="list-group-item disabled">and more...</li>
                    </ul>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Pricing</div>

                    <ul class="list-group">
                        <li class="list-group-item">Public Repositories are <b>FREE</b>!</li>
                        <li class="list-group-item disabled">Private Repositories (coming soon)</li>
                    </ul>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-arrow-down"></i>
                        Latest Open Source Dashboards
                    </div>

                    <table class="table hideOverflow">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Repository</th>
                            <th>Theme</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dashboard in latestDashboards %}
                            <tr>
                                <td>{{ dashboard.name }}</td>
                                <td>{{ dashboard.repository }}</td>
                                <td>{{ attribute(themes, dashboard.theme) }}</td>
                                <td>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('dashboardhub_app_dashboard', { 'uid': dashboard.uid }) }}"
                                       role="button">
                                        <i class="fa fa-eye"></i>
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-line-chart"></i>
                        Most Popular Open Source Dashboards
                    </div>

                    <table class="table hideOverflow">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Repository</th>
                            <th>Theme</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for dashboard in popularDashboards %}
                            <tr>
                                <td>{{ dashboard.name }}</td>
                                <td>{{ dashboard.repository }}</td>
                                <td>{{ attribute(themes, dashboard.theme) }}</td>
                                <td>
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('dashboardhub_app_dashboard', { 'uid': dashboard.uid }) }}"
                                       role="button">
                                        <i class="fa fa-eye"></i>
                                        View
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default">
                    <div class="panel-heading">FAQ</div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <i>Is it really free?</i>
                            <b>Yes, it is really free for Public Repositories</b>
                        </li>
                        <li class="list-group-item">
                            <i>How long is my data stored for?</i>
                            <b>We endeavour to keep data as long as possible, however we do not guaranteed any data</b>
                        </li>
                        <li class="list-group-item">
                            <i>Where can I raise questions & ideas?</i>
                            <b>All internal & external discussions & work are tracked in the
                                <a href="https://github.com/DashboardHub/PipelineDashboard/issues">issue section</a> on Github</b>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
